@using Scheds.Domain.ViewModels
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>What to do?</h3>
<p>
    Contact Abdo Saleh on <a href="https://www.linkedin.com/in/aabdoo23/" target="_blank">LinkedIn</a> or fill this form: <a href="https://forms.gle/vwyf5jPzVxPTgcDM7" target="_blank">Google Form</a> with what you did to get
    this error.
</p>